/*
*{
    margin:0;
    padding:0;
}
*/
body{
    background-color: rgba(184, 214, 16, 0.493);
    color: rgb(0, 0, 0);

    font-weight: normal;
    font: 16px normal Arial, Helvetica, sans-serif;
    line-height:1.6em;
    margin:0;
}
.container{
    width: 80%;
    margin:auto;
}

.clr{
    clear:both
}

.box-1{
    background-color: burlywood;
    color: #000;
    border-right: 5px red solid;
    border-left: 5px red solid;
    border-top: 5px red solid;
    border-bottom: 5px red solid;
    /* same as above */
    border: 5px red solid;
    border-width: 3px;
    border-top-style: dotted;

    padding-top:20px;
    padding-bottom:20px;
    padding-left:20px;
    padding-right:20px;

    padding:20px;

    margin-top:20px;
    margin:20px 0;
}
.clr{
    clear: both;
}

.box-1 h1{
    font-family:Tahoma;
    font-weight: 800;
    font-style: italic;
    text-decoration: underline;
    text-transform: uppercase;
    letter-spacing: 2.0em;
    word-spacing: 1em;
}

.box-2{
    border:3px dotted #000;
    padding:20px;
    margin: 20px 0;
    color: #000;
}

.a {
    text-decoration: none;
    color: #000;
}

a:hover{
    color:red;
}

a:active{
    color:green;
}


.categories{
    border: 1px #333 solid;
    padding: 10px;
    border-radius: 15px;
    
}

.categories h2{
    text-align: center;
}

.categories ul{
    padding: 0;
    padding-left: 20px;
    list-style: none;
}

.categories li{
    padding-bottom: 6px;
    border-bottom: dotted 1px #333;
}

.form{
    padding: 20px;
    border-radius: 15px;
}

.form .form-group{
    padding-bottom: 20px;
}

.form label{
    display: block;
    border-radius: 15px;
}

.form input [type="text"], .form textarea{
    padding:8px;
    width: 100px;
}

.button{
    background-color: #333;
    color:#fff;
    padding:10px 15px;
    border:none;
    border-radius: 15px;
}

.button:hover{
    background-color: red;
    color:#fff;
}

.block{
    float:left;
    width: 33.3%;
    border:1px solid #000;
    box-sizing: border-box;
    color:black;
}

.bar{
    color: #000;
    float:left;
    width: 33.3%;
    border:1px solid #ccc;
    padding:10px;
    box-sizing: border-box;
}

#main-block{
    float:left;
    width: 70%;
    padding:15px;
    box-sizing: border-box;
}

#side-bar{
    float:right;
    width: 30%;
    color: rgb(0, 0, 0);
    padding:15px;
    box-sizing: border-box;
    background-color: #333;
}