bod{
    background-color: #f4f4f4;
    color:#555;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.6em;
}

.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}

#main-header{
    background-color: coral;
    color: white;
}

#nav-bar{
    background-color: #333;
    color: white;
}

#nav-bar li{
    padding: 0;
    list-style: none;
    display: inline;
}

#nav-bar a{
    color:white;
    text-decoration: none;
    font-size: 18px;
    padding-right: 15px;
}

#showcase{
    background-image: url('../images/showcase.jpg');
    background-position: center right;
    height: 300px;
    margin-bottom: 30px;
    text-align: center;
}

#showcase h1{
    color:#f4f4f4;
    font-size: 30px;
    line-height: 1.6em;
    padding-top: 30px;
}

#main{
    float: left;
    width: 70%;
    padding: 0px;
    box-sizing: border-box;
}

#sidebar{
    float: right;
    width: 30%;
    background: #333;
    color: #f4f4f4;
    padding: 0px;
    box-sizing: border-box;
}

#main-footer{ 
    background-color: darkgrey;
    color: #333;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}

@media(max-width:600px){
    #main{
        width: 100%;
        float: none;
    }
    #sidebar{
        width: 100%;
        float: none;
    }
}